#------------------------------------------------------------------------------
#                   SeaExplorer Payload configuration file
#------------------------------------------------------------------------------
# In this file, do not add blanks or comments at end of line.
#
# Slots definition:
# RS232 connectors: J4,J5,J6,J7,J9 devices: see below
#
# I2C connector: J8  devices: MFLUV1 / MFLUV2
#------------------------------------------------------------------------------
# Global parameters (glider name , main data logger period, subsampled period)
maindatalogger.period = 1
subdatalogger.period = 30
#------------------------------------------------------------------------------
#Slots configuration

[J4]
used=yes
device=OCR504

[J5]
used=yes
device=LEGATO

[J6]
used=yes
device=SUNA

[J7]
used=yes
device=FLBBCD

[J8]
used=no
device=

[J9]
used=no
device=
#------------------------------------------------------------------------------
[FLBBCD] 
#serial number = 6908 
#date of calibration = 20210617
cfg.WarmUpPeriod = 5
cfg.phaseswitch = 1
cfg.periodswitch = 1

acq.1.depth = 1050
acq.1.period = 0
acq.1.phase = 111
acq.1.yo = 1

#Calibration parameters
cfg.Chl_DarkCounts = 49
cfg.Chl_SF = 0.0121
cfg.CDOM_DarkCounts = 50
cfg.CDOM_SF = 0.0906
cfg.SIG_DarkCounts = 49
cfg.SIG_SF = 3.06E-06
#------------------------------------------------------------------------------
[OCR504]
#serial number = 2103 
#date of calibration = 20231227
cfg.WarmUpPeriod = 1
cfg.phaseswitch = 1
cfg.periodswitch = 1

acq.1.depth = 1050
acq.1.period = 0
acq.1.phase = 011
acq.1.yo = 1
#------------------------------------------------------------------------------
[LEGATO]
#serial number = 206111+206112
#date of calibration = 20210316
cfg.WarmUpPeriod = 4
cfg.phaseswitch = 1
cfg.periodswitch = 1
cfg.codaInstalled = 1
cfg.log_legato = 1

acq.1.depth = 1050
acq.1.period = 0
acq.1.phase = 111
acq.1.yo = 1
#------------------------------------------------------------------------------
[SUNA]
#serial number = 1293
#date of calibration = 20190520
cfg.WarmUpPeriod = 6
cfg.phaseswitch = 1
cfg.periodswitch = 1

cfg.log_pld = 1
#1: log in pld log file, 0: log in internal memory of the sensor
cfg.log_suna = 1
#1: log in suna log file (suna.raw), 0: log in pld.raw & pld.sub only

acq.1.depth = 1050
acq.1.period = 0
acq.1.phase = 011
acq.1.yo = 1
